a {
    color: inherit;
    text-decoration: none;
}

.header-inner {
    background-color: black;
    padding: 10px 20px;
}

.header-inner .header__ttl img {
    width: 220px;
}

.form-item__error {
    color: red;
}