.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    width: 30%;
}

.search-form__input {
    width: 100%;
    padding: 8px;
    padding-left: 20px;
    border-radius: 5px;
}

.header-nav__list {
    display: flex;
    align-items: center;
    margin: inherit;
}

.header-nav__item:first-of-type {
    margin-right: 10px;
}

.header-nav__item:nth-of-type(2) {
    margin-right: 15px;
}

.header-nav__item a {
    color: white;
}

.header-nav__button {
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
}

.reversible {
    width: 70px;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.reversible a {
    color: black;
}

.container {
    width: 100%;
}

.container-nav {
    margin: 30px 0;
}

.container-nav__list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-left: 15%;
}

.container-nav__item:not(:last-child) {
    margin-right: 50px;
}

.container__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container__item {
    width: 200px;
    margin-left: 40px;
}

.container__item-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container__item-img img {
    width: 100%;
}

.container__item-name {
    margin-top: 5px;
}
