
.container {
    width: 500px;
    margin: 50px auto;
}

.container__ttl {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.form-item {
    width: 100%;
    margin-bottom: 20px;
}

.form-item__ttl {
    display: block;
    font-weight: bold;
    /* margin-bottom: 5px; */
}

.form-item__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5f5f5f;
    margin-bottom: 5px;
}

.form__btn {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form__btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #ff5555;
    color: white;
    font-weight: bold;
    border: none;
}

.auth-nav {
    text-align: center;
}

.auth-nav {
    color: #0073cc;
}