.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    width: 30%;
}

.search-form__input {
    width: 100%;
    padding: 8px;
    padding-left: 20px;
    border-radius: 5px;
}

.header-nav__list {
    display: flex;
    align-items: center;
    margin: inherit;
}

.header-nav__item:first-of-type {
    margin-right: 10px;
}

.header-nav__item:nth-of-type(2) {
    margin-right: 15px;
}

.header-nav__item a {
    color: white;
}

.header-nav__btn {
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
}

.reversible {
    width: 70px;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.reversible a {
    color: black;
}

.container {
    width: 500px;
    margin: 50px auto;
}

.container__ttl {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.form-item {
    width: 100%;
    margin-bottom: 20px;
}

.form-item:first-of-type {
    display: flex;
    align-items: center;
}

.form-item__left {
    background-color: #d9d9d9;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 30px;
}

.form-item__left img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}

.form-item__label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
    color: #ff5555;
    background: white;
    border: 1px solid #ff5555;
    border-radius: 5px;
    transition: 0.2s;
}

.form-item__label:hover {
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}

.form-item__label .form-item__input {
    display: none;
}

.form-item__ttl {
    display: block;
    font-weight: bold;
}

.form-item__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5f5f5f;
    margin-bottom: 5px;
}

.form__btn {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form__btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #ff5555;
    color: white;
    font-weight: bold;
    border: none;
}